.content01{
    width: 100%;
    height: 100vh;
    padding: 100px;
    h3{
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 9.375rem;
        line-height: 11.25rem;
        margin-bottom: 1%;
    }
    :nth-child(1){
        margin-top: 115px;
    }
    :nth-child(2){
        display: inline-block;
    }
    :nth-child(3){
        display: inline-block;
    }
}
.content02{
    width: 100%;
    height: 100vh;
    padding: 100px;
    h3{
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 7.813rem;
        margin-bottom: 2%;
    }
    :nth-child(1){
        margin-top: 100px;
    }
}
.content03{
    width: 100%;
    height: 100vh;
    background-color: #252C35;
    color: #fff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h3{
        margin-top: 60px;
        width: 708px;
        height: 799px;
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 12.5rem;
    }
    ul{
        margin-top: 60px;
        li{
            display: flex;
            height: 92px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.42);
            h4{
                font-family: 'Bebas Neue';
                font-weight: 400;
                font-size: 2.188rem;
                width: 146px;
            }
            p{
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1.438rem;
            }
        }
        :last-child{
            border: none;
        }
    }
}
