.footer{
    background-color: #fff;
    .background{
        width: 100%;
        height: 100vh;
        background: #252C35;
        border-radius: 50px 50px 0px 0px;
        position: relative;
        color: #fff;
        .top{
            position: absolute;
            width: calc(100% - 324px);
            height: 23.14814814814815%;
            left: 8.4375%;
            top: 9.259259259259259%;
            display: flex;
            justify-content: space-between;
            .menu{
                display: flex;
                .menuContainer{
                    display: flex;
                    p{
                        font-family: 'Raleway';
                        font-weight: 400;
                        font-size: 1.25rem;
                        margin-right: 15%;
                    }
                    .title{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .menuTitle{
                            font-size: 1.875rem;
                            line-height: 2.188rem;
                            }
                        li{
                            font-family: 'Raleway';
                            font-weight: 400;
                            font-size: 1.563rem;
                            z-index: 999;
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
                .menu01{
                    margin-right: 50%;
                    .title{
                        height: 100%;
                    }
                }
                .menu02{
                    .title{
                        height: 79%;
                    }
                }
            }
            .contact{
                a{
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 1.875rem;
                    text-decoration-line: underline;
                    color: #fff;
                }
            }
        }
        .bottom{
            position: absolute;
            width: 85.67708333333333%;
            height: 54.72222222222222%;
            left: 7.135416666666667%;
            bottom: 9.259259259259259%;
            h2{
                height: 91.37055837563452%;
                font-family: 'Bebas Neue';
                font-weight: 400;
                font-size: 34.375rem;
                line-height: 41.25rem;
                letter-spacing: -0.03em;
            }
            .text{
                display: flex;
                justify-content: space-between;
                width: 97.20364741641337%;
                margin: 0 auto;
                p{
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 1.563rem;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}
.white{
    background-color: #252C35;
    .background{
        background-color: #fff;
        color: #252C35;
        .top{
            .menu{
                .menuContainer{
                    .title{
                        li{
                            a{color: #252C35;}
                        }
                    }
                }
            }
            .contact{
                a{
                    color: #252C35;
                }
            }
        }
        .bottom{
            .text{
                a{
                    color: #252C35;
                }
            }
        }
    }
}