.footer{
    background-color: #fff;
    .background{
        width: 100%;
        height: 100vh;
        background: #252C35;
        border-radius: 50px 50px 0px 0px;
        position: relative;
        color: #fff;
        .top{
            position: absolute;
            width: 1595px;
            height: 250px;
            left: 162px;
            top: 100px;
            display: flex;
            justify-content: space-between;
            .menu{
                display: flex;
                .menuContainer{
                    display: flex;
                    p{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        margin-right: 20px;
                    }
                    .title{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .menuTitle{
                            font-size: 30px;
                            line-height: 35px;
                            }
                        li{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 29px;
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
                .menu01{
                    margin-right: 168px;
                    .title{
                        height: 250px;
                    }
                }
                .menu02{
                    .title{
                        height: 196px;
                    }
                }
            }
            .contact{
                a{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 35px;
                    text-decoration-line: underline;
                    color: #fff;
                }
            }
        }
        .bottom{
            position: absolute;
            width: 1645px;
            height: 591px;
            left: 137px;
            top: 385px;
            h2{
                height: 540px;
                font-family: 'Bebas Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 550px;
                line-height: 660px;
                letter-spacing: -0.03em;
            }
            .text{
                display: flex;
                justify-content: space-between;
                width: 1599px;
                margin: 0 auto;
                p{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 29px;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}
.white{
    background-color: #252C35;
    .background{
        background-color: #fff;
        color: #252C35;
        .top{
            .menu{
                .menuContainer{
                    .title{
                        li{
                            a{color: #252C35;}
                        }
                    }
                }
            }
            .contact{
                a{
                    color: #252C35;
                }
            }
        }
        .bottom{
            .text{
                a{
                    color: #252C35;
                }
            }
        }
    }
}